[buildout]
extends = http://dist.plone.org/release/5.0.5/versions.cfg
unzip = true
newest = false
versions = versions
prefer-final = true
relative-paths = true

find-links += http://effbot.org/downloads/
parts =
    precompile
    instance
always-checkout = force
auto-checkout +=
    Products.CMFPlomino

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
relative-paths = true
eggs =
    Plone
    Pillow
    Products.CMFPlomino

[precompile]
recipe = plone.recipe.precompiler
eggs =
    ${instance:eggs}
    plone.app.locales
compile-mo-files = true

[sources]
Products.CMFPlomino = git://github.com/plomino/Plomino.git